*{
  margin: 0;
  padding: 0;
}

.container{
  width: 600px;
  mergin: auto;
}

img{
  float: left;
  margin-left: 100px;
  merginright: 10px;
}

h1{
  float: left;
  float-size: 15px;
  width: 350px;
  margin-left: 100px;
  margin-bottom: 5px;
}

p{
  float: left;
  font-size: 12px;
  width: 350px;
  margin-left: 100px;
  margin-bottom: 5px;
}

a{
  background: #f9f9f9;
  color: #ff4c4c;
  font-size: 12px;
  border: 1px solid #ff4c4c;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;
  margin-left: 100px;
}
a:hover{
  background: #ff4c4c;
  color: #f9f9f9;
  transition: 1s;
}
